@mixin buttons{
list-style: none;
color: $buttontext;
margin: 2%;

}

@mixin lists{
    list-style: none;
    color: $buttontext;
    border: none;
    margin: 2%;

}

@mixin spans{
    color: $span;
    margin: 2%;
    transition: background-color ease-in-out 200ms;
}

@mixin butts{
    border: none;
    background-color: $buttonbg;
    transition: all 200ms ease-in-out;
}

@mixin animate {
    @keyframes anim {
        0%{}
        100%{}
    }
    animation: anim 600ms ease-in-out;
    animation-delay: 1s;
}