
.menu{
    li{
        padding: 1%;
        border-radius: 5px;
        transition: all 500ms ease-in-out;
    }


    //you need to add an extra one if you put "to" instead of "through", it's not inclusive
    @for $i from 1 through 5{
        $animtime:($i*250)+250ms;

        li:nth-child(#{$i}){
            animation: animbutt $animtime ease-in-out;
            background-color: lighten($color: green, $amount: ($i*3));
            a{
                color: darken($color: red, $amount: ($i*3));
                animation: animtext $animtime ease-in-out;
            }

            
        }    
    }
}


//animation
@keyframes animbutt{
0%{
    background-color: red;
}
100%{
    background-color: green;
}

}

@keyframes animtext{
0%{
    letter-spacing: -10px;
}
100%{
    letter-spacing: 0;
}
    
}