h1,h2{
    text-align: center;
    color: $titletext;
    font-family: fantasy;
}

p{
    color: $ptext;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5%;
}

label{
    color: $ptext;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5%;
}